In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

In [10]:
df=pd.read_csv('car data.csv')

In [11]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [12]:
df.shape

(301, 9)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [14]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [31]:
df.Fuel_Type.value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [32]:
df.Seller_Type.value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [34]:
df.Transmission.value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [39]:
#encoding since its in text
df.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2}},inplace=True)

In [40]:
#encoding since its in text
df.replace({'Seller_Type':{'Dealer':0,'Individual':1}},inplace=True)

In [41]:
#encoding since its in text
df.replace({'Transmission':{'Manual':0,'Automatic':1}},inplace=True)

In [42]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,1,0,0,0
297,brio,2015,4.00,5.90,60000,0,0,0,0
298,city,2009,3.35,11.00,87934,0,0,0,0
299,city,2017,11.50,12.50,9000,1,0,0,0
300,brio,2016,5.30,5.90,5464,0,0,0,0

In [44]:
#split data into training and testing 
X=df.drop(['Car_Name','Selling_Price'],axis=1)
Y=df['Selling_Price']

In [46]:
X

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,5.59,27000,0,0,0,0
1,2013,9.54,43000,1,0,0,0
2,2017,9.85,6900,0,0,0,0
3,2011,4.15,5200,0,0,0,0
4,2014,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...
296,2016,11.60,33988,1,0,0,0
297,2015,5.90,60000,0,0,0,0
298,2009,11.00,87934,0,0,0,0
299,2017,12.50,9000,1,0,0,0
300,2016,5.90,5464,0,0,0,0

In [47]:
Y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [48]:
#split
X_train,X_test,Y_train,Y_test =train_test_split(X,Y,test_size=0.1,random_state=2)

In [49]:
#model training with linear regression
lr=LinearRegression()

In [50]:
lr.fit(X_train,Y_train)

LinearRegression()

In [51]:
#prediction on traning data prediction
training_data=lr.predict(X_train)

In [52]:
training_data

array([ 3.73088505e+00,  5.60702081e+00,  7.79779356e+00, -1.88374756e+00,
        6.71614572e+00,  8.14343296e+00,  5.84067525e+00,  6.17919527e+00,
        6.15863751e+00,  1.59459051e+01,  2.15385926e+00,  1.11618544e+00,
       -4.05463414e-01,  6.69051516e+00,  6.81961414e+00,  1.02957394e+00,
        6.74306974e+00,  1.43864300e+01,  3.00001893e+00,  7.95149024e+00,
       -8.38569413e-01,  9.02067892e+00,  1.21210550e+00,  2.20040027e+00,
       -8.23744275e-01,  7.52651502e-01,  1.00142469e+01, -4.08950275e-01,
       -2.40418357e+00,  9.99845989e+00,  6.81867179e+00,  1.09249928e+00,
        4.36158792e+00,  9.20660480e-02,  3.48993776e+00,  2.78147834e+00,
        1.50401026e+00,  4.65736158e-01,  1.68679810e+00,  1.18722506e+00,
        4.32936153e+00,  6.09932798e+00,  9.51639926e-01,  7.52875828e-01,
        6.05967594e+00,  3.49453005e+00,  2.40969246e+00,  7.52230513e+00,
        4.63113915e+00,  4.44239322e+00,  4.22460259e+00,  2.71077171e+00,
        4.46881874e+00,  1.76156730e+00,  2.86100050e-01,  3.95181249e+00,
        1.36371845e+00,  4.63046605e+00,  1.44343122e+00,  7.27550233e+00,
        7.26488044e+00,  6.54659602e+00,  2.36324853e+00,  2.19217418e+01,
        2.16319930e+00,  5.66076848e+00,  2.80906060e+00,  7.49802869e+00,
        5.62886682e+00,  9.98314981e+00,  2.06830269e+00,  2.39461488e+00,
        1.25697170e+00,  2.48624712e+00,  9.87503255e+00,  1.99829124e+00,
       -5.95850149e-01,  5.42977049e+00,  1.14801568e+01,  7.23519617e-02,
        1.16970906e+00,  1.59303454e+00,  5.41364480e+00,  1.41557179e+00,
        7.74504567e+00,  1.84083793e+01,  2.58142127e+00,  2.07186281e-01,
        1.89736367e+00,  9.26780904e+00,  3.99021820e+00,  7.07156998e+00,
        1.68502818e+01,  1.02685111e+01,  3.68136662e+00,  1.50064476e+00,
        4.31232923e+00, -4.34880981e-01,  1.71285667e+00,  8.27991453e+00,
        1.14683904e+00,  7.50346268e+00, -2.04666325e+00,  8.30146254e-01,
        7.26854735e+00,  8.02021894e+00,  7.36905488e+00, -3.79414332e+00,
        3.75525897e+00,  8.25695012e+00,  3.51472306e+00,  2.53338755e+00,
        4.16232248e+00, -3.24088512e+00,  5.18615085e+00,  1.85821266e+00,
        3.49278787e+00,  7.72803450e+00, -2.72911676e-02,  1.85585877e+00,
        1.61750191e+00,  1.86723050e+00,  3.44019213e+00, -2.61256990e+00,
        2.83571040e-01,  6.47077845e+00,  6.81795378e+00,  1.27856366e+00,
        1.98246558e+00,  7.77746593e+00,  3.99027153e+00,  7.11781878e-01,
        7.91403394e+00,  6.23267855e+00,  1.28756708e+00, -1.96729056e+00,
        5.28552207e+00,  6.04550694e+00,  5.16190178e+00,  4.22971237e+00,
        9.51891054e-01,  7.35166727e+00,  4.01818932e+00, -1.04710559e+00,
        1.09156146e+01,  4.39667870e+00,  2.86984918e+00,  1.91986725e+00,
        4.96862623e+00,  4.77936928e+00,  4.25092177e+00,  1.71053421e+01,
       -1.07199613e+00,  1.26451025e+00,  5.21327300e+00,  2.12348337e+00,
        5.99165891e+00,  3.40807255e+00,  4.80827934e+00,  3.38918116e+00,
        5.13795684e-01,  4.44055098e+00,  2.00903744e+01,  3.83901354e+00,
        4.53066612e+00,  2.19632384e+00,  2.97882688e+00,  1.63013254e-01,
        7.45166142e+00, -9.64114771e-01,  2.07084616e+01,  1.48302952e-01,
        7.67297383e+00,  1.97138512e+00,  1.58318918e+00,  8.59464322e+00,
        2.03394215e+01,  3.12384360e+00,  4.48104068e+00,  5.12059119e+00,
        4.44820127e+00,  6.32711743e+00,  6.14313782e+00,  1.63379307e+00,
        4.86593391e-01,  7.15580082e+00,  8.19411548e+00,  2.20656869e+00,
       -3.00310326e+00,  4.28862263e+00,  4.26053193e+00,  5.13714273e+00,
       -3.42194582e-01,  6.40060227e+00,  4.40377318e+00,  8.20122236e+00,
        8.08394337e-01,  1.09158807e+01,  5.67433085e+00, -9.84515513e-01,
        6.41897928e+00,  5.08269665e+00,  6.91554730e+00,  4.93883063e+00,
        5.77578402e+00,  2.12723538e+00,  2.52675517e+00,  4.89440672e+00,
        3.15266181e+00, -1.52384175e+00,  4.17949082e+01,  5.81924561e+00,
        5.14055580e+00,  3.92237207e-01,  9.05432721e+00,  6.56459921e+00,
        7.18219701e+00,  1.66366108e+00,  7.11473745e+00,  9.07935482e+00,
        4.46753893e+00,  3.36303450e+00,  6.35490979e+00,  6.55934903e+00,
        1.66016819e+01,  9.39027813e+00,  6.26564147e+00, -1.43439660e-01,
        2.55568656e+00,  2.97505284e+00,  5.85941753e+00,  5.06592497e+00,
        9.32375818e-01,  8.13064209e+00,  5.75158168e+00,  7.71554069e+00,
        2.18559206e+00,  1.67445579e+01,  4.87739901e+00,  1.46396860e+01,
        1.05280516e+01,  2.12054166e+00, -5.25492431e-02,  9.93653139e+00,
       -3.52247643e+00,  3.49678260e+00,  2.73531683e+00,  3.41170538e+00,
        7.39379673e+00,  3.96888732e+00,  1.84083793e+01,  8.15712083e+00,
        2.54637150e+00,  8.78314015e-01,  6.36747996e-01,  5.77461943e-01,
        4.35596477e-01,  5.38888735e+00,  6.47934817e+00, -3.23943162e-01,
        3.10622023e+00,  9.01067339e+00,  8.42951569e+00,  8.19695422e-02,
        5.65761124e+00,  4.71872253e+00,  5.02500936e+00,  8.94663115e+00,
        8.59464322e+00,  3.94153678e-01])

In [53]:
#R score 
error_score=metrics.r2_score(Y_train,training_data)

In [54]:
error_score

0.8799451660493698

In [55]:
test_data=lr.predict(X_test)

In [56]:
test_data

array([10.32892855,  0.77165673,  4.26482324,  4.78985002,  9.88701568,
        4.24823193,  6.92536953,  7.29321065,  0.21950514,  5.18527582,
        6.23823964,  6.07761019,  2.1716932 ,  7.77611973,  1.89987958,
        1.79635895,  2.10001123,  1.91953211,  9.24977006,  4.25291486,
        1.569912  ,  9.04949049,  1.52561157,  9.65418587,  0.89631315,
        7.99187626,  1.59929505, -3.17680912,  4.24653988,  2.1257015 ,
        3.49654935])

In [58]:
error_score1=metrics.r2_score(Y_test,test_data)

In [59]:
error_score1

0.8365766715025409

In [60]:
#lasso
lasso=Lasso()

In [61]:
lasso.fit(X_train,Y_train)

Lasso()

In [63]:
training_data1=lasso.predict(X_train)

In [64]:
training_data1

array([ 3.56679076e+00,  5.60257564e+00,  8.28781371e+00, -8.30814314e-01,
        5.27539880e+00,  6.50367937e+00,  5.73552938e+00,  6.41187200e+00,
        4.78218845e+00,  1.54979701e+01,  2.60868685e+00,  1.68164537e+00,
        4.65587149e-01,  5.14260426e+00,  6.87569869e+00,  1.60372469e+00,
        5.30299396e+00,  1.39150016e+01,  2.86877663e+00,  6.44421824e+00,
        9.38523430e-02,  9.99955865e+00,  1.79683394e+00,  2.66121014e+00,
        2.10269105e-02,  1.39327221e+00,  1.01152846e+01,  4.55985698e-01,
       -1.29850564e+00,  8.96458834e+00,  6.87473286e+00,  2.80689227e+00,
        4.00679563e+00,  8.93707044e-01,  3.11243615e+00,  2.61344453e+00,
        2.13519495e+00,  1.21115483e+00,  2.20395877e+00,  1.77253883e+00,
        4.40123646e+00,  4.26379158e+00,  1.53108120e+00,  2.67410546e+00,
        4.37186991e+00,  2.41613935e+00,  2.90706331e+00,  6.07491388e+00,
        5.02364608e+00,  4.39669701e+00,  3.59203190e+00,  2.67643327e+00,
        4.41172590e+00,  2.31675779e+00,  1.01438277e+00,  3.68609748e+00,
        1.50265941e+00,  5.02295620e+00,  2.07310584e+00,  6.19074097e+00,
        7.81981153e+00,  5.36371710e+00,  2.85946166e+00,  2.06195353e+01,
        2.59676625e+00,  5.67574611e+00,  3.19801234e+00,  3.85355694e+00,
        9.55121958e+00,  8.49791815e+00,  2.51738099e+00,  2.54374604e+00,
        1.74412943e+00,  2.99336224e+00,  8.53160523e+00,  2.11403521e+00,
        9.85877109e-01,  4.06172992e+00,  1.24243960e+01,  8.63857265e-01,
        1.73710595e+00,  1.50535303e+00,  5.51391821e+00,  1.91090236e+00,
        6.46820023e+00,  1.68362291e+01,  3.10416970e+00,  9.08788441e-01,
        2.44750046e+00,  7.52561203e+00,  4.72686803e+00,  7.16105963e+00,
        1.54738775e+01,  9.81695769e+00,  3.76103478e+00,  2.13174555e+00,
        4.23928018e+00,  3.24691839e-01,  2.37516632e+00,  8.70375762e+00,
        1.73114609e+00,  7.79945286e+00, -1.13832831e+00,  1.49379554e+00,
        8.51653128e+00,  8.43758853e+00,  5.75926034e+00, -2.30786281e+00,
        4.45696039e+00,  7.19764119e+00,  2.43683571e+00,  2.57402797e+00,
        4.09758952e+00, -2.00027661e+00,  5.25604000e+00,  2.35875554e+00,
        3.69959657e+00,  8.90505781e+00,  7.60524770e-01,  2.39953606e+00,
        2.11786604e+00,  2.56171833e+00,  4.07376307e+00, -6.84111217e-01,
        9.86474496e-01,  6.47597378e+00,  5.38818340e+00,  1.87278469e+00,
        2.54919014e+00,  8.26697936e+00,  4.89131341e+00,  1.48141681e+00,
        6.23782093e+00,  4.85807513e+00,  1.95739987e+00, -9.18670058e-01,
        5.08094481e+00,  6.10021341e+00,  4.95364023e+00,  3.99985747e+00,
        1.75162194e+00,  5.87870552e+00,  4.58194546e+00,  5.96745982e-01,
        1.08857448e+01,  4.48228701e+00,  2.86840894e+00,  2.48503140e+00,
        4.85001658e+00,  4.79632201e+00,  4.02159556e+00,  1.50296762e+01,
       -1.71914820e-01,  1.84572285e+00,  5.01231967e+00,  2.71060060e+00,
        6.04502309e+00,  2.85805043e+00,  4.83800806e+00,  4.55728445e+00,
       -9.09287171e-02,  4.51519756e+00,  1.89608272e+01,  3.82573060e+00,
        5.38349618e+00,  2.79249000e+00,  1.96939272e+00,  8.59294931e-01,
        5.87285886e+00, -3.54252858e-02,  1.95161266e+01,  1.04722720e+00,
        8.15988256e+00,  2.40177281e+00,  2.10017824e+00,  7.04992171e+00,
        1.92160824e+01,  2.11621602e+00,  4.17925569e+00,  5.47724216e+00,
        4.37853915e+00,  6.29256565e+00,  4.50141427e+00,  2.15807121e+00,
        1.24880669e+00,  6.64084846e+00,  6.71760492e+00,  2.32750446e+00,
       -1.82391271e+00,  4.21498265e+00,  4.75816168e+00,  5.49420629e+00,
        5.16931116e-01,  7.09881804e+00,  4.48955833e+00,  8.62310387e+00,
        1.45926524e+00,  1.16310309e+01,  5.67156354e+00,  7.06845952e-02,
        5.04901982e+00,  5.14940420e+00,  5.22995197e+00,  4.81525889e+00,
        6.53661979e+00,  2.57959101e+00,  2.57747729e+00,  4.93050173e+00,
        3.57911142e+00,  1.86321101e-01,  4.64781871e+01,  4.11881586e+00,
        3.58140650e+00,  1.11092946e+00,  1.00340457e+01,  4.96110883e+00,
        5.68835346e+00,  2.18446439e+00,  7.80921976e+00,  7.76354731e+00,
        4.56274957e+00,  3.43295920e+00,  4.71183470e+00,  4.95572777e+00,
        1.45916562e+01,  8.10452348e+00,  4.76385516e+00, -6.04540511e-01,
        2.75223204e+00,  2.95875479e+00,  6.04795704e+00,  3.36101870e+00,
        1.61123152e+00,  6.66783862e+00,  4.16947133e+00,  8.20351050e+00,
        2.64603280e+00,  1.53655182e+01,  5.19784951e+00,  1.21638029e+01,
        9.27865919e+00,  2.25681325e+00,  8.54423030e-01,  8.74456138e+00,
       -4.07142405e+00,  3.58089109e+00,  2.83644537e+00,  4.35662889e+00,
        5.92489898e+00,  3.69214536e+00,  1.68362291e+01,  8.57790301e+00,
        3.06583517e+00,  1.42458358e+00,  1.28472659e+00,  1.34194034e+00,
        1.29161106e+00,  5.64389284e+00,  5.02387715e+00,  9.77644039e-02,
        3.38158787e+00,  7.52514652e+00,  9.47185435e+00,  8.83358860e-01,
        5.66045482e+00,  4.72210816e+00,  3.87680683e+00,  9.92366507e+00,
        7.04992171e+00,  1.10945793e+00])

In [68]:
#R score 
error_score=metrics.r2_score(Y_train,training_data1)

In [69]:
error_score

0.8427856123435794

In [71]:
test_data1=lasso.predict(X_test)

In [75]:
error_scoree=metrics.r2_score(Y_test,test_data1)

In [76]:
error_scoree

0.8709167941173195